*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-image: url(./img/background_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.container{
    background-color: rgba(0, 0, 0, 0.476);
    width: 93vw;
    height: 97vh;
    margin: 10px auto;
}
main {
    color: white;
    /* text-align: center; */
    height: 10vh;
    border: 2px solid red;
}
main h1, main p{
    text-align: center;
}